[Unit]
Description=Pulsar Broker
After=network.target

[Service]
ExecStart=/opt/apache-pulsar-{{ pulsar_version }}/bin/pulsar broker
WorkingDirectory=/opt/apache-pulsar-{{ pulsar_version }}
RestartSec=1s
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target